@using EBrief.Shared.Models
@using EBrief.Shared.Models.Shared
@using EBrief.Shared.Models.UI

<div class="grow">
    @if (Parent?.ActiveDefendant?.ActiveCasefile?.Cfel is null) {
        <p>No CFEL entries to display</p>
    }
    else {
        @foreach (var entry in Parent.ActiveDefendant.ActiveCasefile.Cfel!) {
            <div class="border-b border-b-black pb-4 mb-4">
                <p class="py-1 text-sm text-gray-700">Entered on @entry.EntryDate by @entry.EnteredBy</p>
                <p>
                    @entry.EntryText
                </p>

            </div>

        }
    }
</div>

@code {
    [CascadingParameter] public ICourtListPage Parent { get; set; } = default!;
    private List<CasefileEnquiryLogEntry> _cfelEntries = [];

    protected override void OnInitialized() {
        if (Parent?.ActiveDefendant?.ActiveCasefile?.Cfel is var entries && entries is not null) {
            _cfelEntries = entries;
        }
    }
}