@using EBrief.Shared.Models

@if (Parent.ActiveDefendant?.ActiveCaseFile?.FactsOfCharge is not null)
{
    @foreach (var paragraph in Parent.ActiveDefendant.ActiveCaseFile.FactsOfCharge.Split("\n"))
    {
        <p class="max-w-[120ch]">@paragraph</p>
        <br />
    }
}
else
{
    <p>Error loading facts of charge</p>
}

@code {
    [CascadingParameter] public ICourtListPage Parent { get; set; } = default!;
}
