@using EBrief.Shared.Models
@using EBrief.Shared.Models.Shared

<div>
    @if (Parent.ActiveDefendant?.ActiveCasefile?.Information is not null) {
        foreach (var entry in Parent.ActiveDefendant.ActiveCasefile.Information.Charges) {
            <div class="flex">
                <span class="pr-2">@entry.Sequence.</span>
                <div>
                @foreach (var paragraph in entry.Text.Split("\n")) {
                    <p>@paragraph</p>
                }
                </div>
            </div>
            <br />
        }
    }
    else {
        <p>Error loading information</p>
    }
</div>

@code {
    [CascadingParameter] public ICourtListPage Parent { get; set; } = default!;
}