@using EBrief.Shared.Models
@using EBrief.Shared.Models.Shared

<div class="grow">
    @if (Parent?.ActiveDefendant?.OffenderHistory is null) {
        <p>The accused has no priors</p>
    }
    else {
        @Parent.ActiveDefendant.OffenderHistory
    }
</div>

@code {
    [CascadingParameter] public ICourtListPage Parent { get; set; } = default!;
}
