@using EBrief.Shared.Models
@using EBrief.Shared.Models.Shared

<div class="flex-grow">
    @if (Parent.ActiveDefendant?.ActiveCasefile is not null) {
        @foreach (var hearing in Parent.ActiveDefendant.ActiveCasefile.Schedule) {
            <div class="border-b border-b-black pb-4 mb-4">
                <p class="py-1 text-sm text-gray-700">@hearing.AppearanceType on @hearing.HearingDate</p>
                <p>
                    @hearing.Notes
                </p>
            </div>
        }
    }
</div>

@code {
    [CascadingParameter] public ICourtListPage Parent { get; set; } = default!;
}
