<div class="flex flex-col h-full">
    <div class="pb-4">
        @foreach (var tabPage in TabPages) {
            <button type="button"
                    class="p-2 first:border-l border-r border-t border-b border-slate-500 cursor-pointer @GetButtonClass(tabPage) 
                    text-sm md:text-base"
                    @onclick="() => ActivateTab(tabPage)">
                @tabPage.Title
            </button>
        }
    </div>

    <CascadingValue Value="this">
        <div class="flex flex-grow pr-2">
            @ChildContent
        </div>
    </CascadingValue>
</div>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    public TabPage ActiveTab = default!;
    List<TabPage> TabPages = [];

    internal void AddPage(TabPage tabPage) {
        TabPages.Add(tabPage);
        if (TabPages.Count == 1) {
            ActiveTab = tabPage;
        }
        StateHasChanged();
    }

    private void ActivateTab(TabPage tabPage) {
        ActiveTab = tabPage;
    }

    private string GetButtonClass(TabPage tabPage) {
        if (ActiveTab == tabPage) {
            return "!bg-sky-700 text-white";
        }

        return "bg-gray-200 text-black hover:bg-gray-300";
    }

}
