@using EBrief.Shared.Models.Shared
<div class="flex flex-col h-full">
    <div class="flex pb-4 @(GetTabPosition())">
        @foreach (var tabPage in _tabPages)
        {
            <button type="button"
                    class="px-2 first:border-l border-r border-t border-b border-slate-500 cursor-pointer @GetButtonClass(tabPage)
                    text-sm laptop:text-base select-none"
                    @onclick="() => ActivateTab(tabPage)">
                @tabPage.Title
            </button>
        }
    </div>

    <CascadingValue Value="this">
        <div class="flex flex-grow pr-2 text-md laptop:text-base">
            @ChildContent
        </div>
    </CascadingValue>
</div>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public TabPosition TabPosition { get; set; } = TabPosition.Left;

    public TabPage ActiveTab = default!;
    private List<TabPage> _tabPages = [];

    internal void AddPage(TabPage tabPage)
    {
        _tabPages.Add(tabPage);
        if (_tabPages.Count == 1)
        {
            ActiveTab = tabPage;
        }
        StateHasChanged();
    }

    private async Task ActivateTab(TabPage tabPage)
    {
        ActiveTab = tabPage;

        await ActiveTab.OnClick.InvokeAsync();
    }

    private string GetButtonClass(TabPage tabPage)
    {
        if (ActiveTab == tabPage)
        {
            return "!bg-sky-700 text-white";
        }

        return "bg-gray-200 text-black hover:bg-gray-300";
    }

    private string GetTabPosition()
    {
        return TabPosition switch
        {
            TabPosition.Left => "justify-left",
            TabPosition.Center => "justify-center",
            _ => ""
        };
    }
}

